@use "./mixin";

main {
    grid-area: main;
    padding: 20px;   
}

/*section*/
.presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px; /*para separar elementos lo uso en el bloque*/
    margin: 20px 0;
    padding: 0 20px;
}

.img {
    max-width: 100%;
    width: 600px;
    border-radius: 10px;
}

.textomain {
    width: 100%;
    max-width: 600px; /*cuanto ancho maximo ocupa el texto*/
    @include mixin.textomain;
} /*ambos textos llevan mismas propiedades*/

.lista {
    margin-top: 20px;
    padding-left: 20px;
}

.lista li {
    margin-bottom: 10px;
}

.rutina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 15px;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center; /*los ubica horizontalmente*/
    justify-content: center; /*ubica al medio de la pag*/
    margin: 15px;
    gap: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.enlaces p {
    margin: 0;
    display: flex;
    align-items: center;
}